<form [formGroup]="contactForm" id="contact_form" (ngSubmit)="FormSumbit()">
    <div [ngClass]="event ? 'offcanvas-header' : 'modal-header'" class="">
        <h4 class="modal-title">{{event ? 'Edit Event' : 'Add Event'}}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
    </div>
    <div [ngClass]="event ? 'offcanvas-body' : 'modal-body'" style="max-height: calc(100vh - 200px); overflow-y: auto;">

        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <div class="input-group">
                <span class="input-group-text"><i class="glyphicon glyphicon-user"></i></span>
                <input id="title" class="form-control" type="text" placeholder="Default input"
                    aria-label="default input example" formControlName="Title"
                    [ngClass]="{'is-invalid' :(contactForm.get('Title')?.touched && contactForm.get('Title')?.hasError('required') )|| (submitted && contactForm.get('Title')?.errors )}">
            </div>
            <div>
                <div
                    *ngIf="(contactForm.get('Title')?.touched && contactForm.get('Title')?.hasError('required') )|| (submitted && contactForm.get('Title')?.errors )">
                    <small class="text-danger"
                        *ngIf="(contactForm.get('Title')?.touched && contactForm.get('Title')?.hasError('required') )|| (submitted && contactForm.get('Title')?.errors )">
                        Title field is required
                    </small>
                </div>
            </div>
            <div class="mb-3">
                <label for="title" class="form-label">Description</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="glyphicon glyphicon-user"></i></span>
                    <input id="title" class="form-control" type="text" placeholder="Default input"
                        aria-label="default input example" formControlName="description"
                        [ngClass]="{'is-invalid' :(contactForm.get('description')?.touched && contactForm.get('description')?.hasError('required') )|| (submitted && contactForm.get('description')?.errors )}">
                </div>
                <div>
                    <small class="text-danger" *ngIf="
                        (contactForm.get('description')?.touched || submitted) &&
                        contactForm.get('description')?.hasError('required')
                      ">Description is required</small>
                </div>
            </div>


            <div class="mb-3">
                <label for="formFile" class="form-label">Image</label>
                <input class="form-control" type="file" (change)="getProfilePhoto($event)" id="formFile"
                    formControlName="image"
                    [ngClass]="{'is-invalid' :(contactForm.get('image')?.touched && contactForm.get('image')?.hasError('required') )|| (submitted && contactForm.get('image')?.errors )}"
                    accept="image/png, image/jpeg">
            </div>
            <div>

                <small class="text-danger" *ngIf="
            (contactForm.get('image')?.touched || submitted) &&
            contactForm.get('image')?.hasError('required')
          ">photo is required</small>
            </div>

            <div class="mb-3">
                <label for="startDateTime" class="form-label">Start Date Time</label>
                <div class="input-group">
                    <input id="startDateTime" class="form-control" placeholder="yyyy-mm-dd" name="dp"
                        type="datetime-local" formControlName="start"
                        [ngClass]="{'is-invalid' :(contactForm.get('start')?.touched && contactForm.get('start')?.hasError('required') )|| (submitted && contactForm.get('start')?.errors )}" />
                </div>
                <div>
                    <small class="text-danger" *ngIf="
                        (contactForm.get('start')?.touched || submitted) &&
                        contactForm.get('start')?.hasError('required')
                      ">Start Date is required</small>
                </div>
            </div>

            <div class="mb-3">
                <label for="endDateTime" class="form-label">End Date Time</label>
                <div class="input-group">
                    <input id="endDateTime" class="form-control" placeholder="yyyy-mm-dd" name="dp"
                        formControlName="end" type="datetime-local" />
                </div>
                <div class="mb-3">
                    <label for="city" class="form-label">Address</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="glyphicon glyphicon-home"></i></span>
                        <input id="city" class="form-control" type="text" placeholder="City" formControlName="address"
                            [ngClass]="{'is-invalid' :(contactForm.get('address')?.touched && contactForm.get('address')?.hasError('required') )|| (submitted && contactForm.get('address')?.errors )}">

                    </div>
                    <div>

                        <small class="text-danger" *ngIf="
                    (contactForm.get('address')?.touched || submitted) &&
                    contactForm.get('address')?.hasError('required')
                  ">Address is required</small>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="zip" class="form-label">Zip Code</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="glyphicon glyphicon-home"></i></span>
                        <input id="zip" class="form-control" type="text" placeholder="Zip Code"
                            formControlName="zipcode"
                            [ngClass]="{'is-invalid' :(contactForm.get('zipcode')?.touched && contactForm.get('zipcode')?.hasError('required') )|| (submitted && contactForm.get('zipcode')?.errors )}">
                    </div>
                    <div>
                        <small class="text-danger" *ngIf="
                    (contactForm.get('zipcode')?.touched || submitted) &&
                    contactForm.get('zipcode')?.hasError('required')
                  ">zip code is required</small>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div [ngClass]="event ? 'offcanvas-footer' : 'modal-footer'">
        <div class="row">
            <div class="d-grid gap-2 col-6 mx-auto text-center">
                <button type="submit" class="btn btn-dark">{{event ? 'Save Event' : 'Add Event'}}<span
                        class="glyphicon glyphicon-send"></span></button>
            </div>
        </div>
    </div>
</form>